vti_encoding:SR|utf8-nl
vti_author:SR|DESKTOP-0J42DDI\\geora
vti_modifiedby:SR|DESKTOP-0J42DDI\\geora
vti_timelastmodified:TR|28 Nov 2020 14:50:40 -0000
vti_timecreated:TR|02 Nov 2020 17:53:00 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|instructions.html register.html dominoes_test_layout.dwt index.html login.html start.php
vti_nexttolasttimemodified:TW|28 Nov 2020 14:41:42 -0000
vti_cacheddtm:TX|28 Nov 2020 14:50:40 -0000
vti_filesize:IR|1141
vti_cachedlinkinfo:VX|S|dominoes.jpg
vti_cachedsvcrellinks:VX|FSUS|dominoes.jpg
